body{
    background: #654ea3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eaafc8, #654ea3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.flip-in-ver-right {
	-webkit-animation: flip-in-ver-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: flip-in-ver-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.grid{
    display:grid;
    background: whitesmoke;
}

.emptyNode{
    border: 1px solid lightblue;
    background: whitesmoke;
}
.wallNode{
    background-color: #654ea3;
}
.visited{
    background-color: cornflowerblue;

}
.startNode{
    background-color: orange;
}
.endNode{
    background-color: firebrick;
}

.traversed{
  background-color: tomato;
}

nav{
    display: flex;
    width: 100%;
    height: 40px;
    background-color: darkslategray;
    padding:20px;
}
.btnToggleDrawMode{
    width: 100px;
}

@-webkit-keyframes flip-in-ver-right {
    0% {
      -webkit-transform: rotateY(-80deg);
              transform: rotateY(-80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
      opacity: 1;
    }
  }
  @keyframes flip-in-ver-right {
    0% {
      -webkit-transform: rotateY(-80deg);
              transform: rotateY(-80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
      opacity: 1;
    }
  }